div.gallery {
  margin: 5px;
  border: none;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: none;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}
