.monogram{
  font-weight:bold;
  font-size:700%;
  font-family:'Pinyon Script', cursive;
  text-align: center;
}
.card-style-1{
  font-weight:bold;
  font-size:125%;
  font-family:'Averia Serif Libre', cursive;
  text-align: center;
}
.card-style-2{
  font-weight:bold;
  font-size:125%;
  font-family:'Averia Serif Libre', cursive;
  text-align: center;
  text-decoration: underline overline;
}
.card-style-3{
  font-weight:bold;
  font-size:313%;
  font-family:'Pinyon Script', cursive;
  text-align: center;
}
